.teacher-card image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 121, 223,.4);
    opacity: 0;
    visibility: hidden;
    transition: .4s;

}